[submodule "third-party/cutt"]
	path = third-party/cutt
	url = https://github.com/heheda12345/cutt.git
[submodule "third-party/dbg-macro"]
	path = third-party/dbg-macro
	url = https://github.com/sharkdp/dbg-macro.git
